<form formGroupName="crimeForm">
  <h2>New crime</h2>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input id="name" type="text" formControlName="cname" matInput/>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Location</mat-label>
      <input id="location" type="text" formControlName="clocation" matInput/>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" formControlName="cdate"/>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Victim name</mat-label>
      <input id="vname" type="text" formControlName="cvictimname" matInput/>
    </mat-form-field>
  </p>
  
  <button type="submit" (click)="AddCrime()" mat-raised-button color="primary">Complete crime form</button>
</form>
<form>
  <h2>Search</h2>
  <mat-form-field appearance="fill">
    <mat-label>Search query</mat-label>
  <input type="text" matInput appearance="fill"/>
  </mat-form-field>
  <button type="submit" (click)="SearchCrime()" mat-flat-button color="primary">Start search</button>
</form>
<button mat-raised-button (click)="ResetCrimes()" color="primary">Reset search results</button>

<table mat-table [dataSource]="crimes">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let e">{{e.name}}</td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let e">{{e.date}}</td>
  </ng-container>
  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef>Details</th>
    <td mat-cell *matCellDef="let e">
      <button mat-button (click)="CrimeDetails(e)">View</button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
</table>

<router-outlet></router-outlet>